<div id="wt", class ="center_main_text"> 
	<p>Солнечная система — планетная система, включающая в себя центральную звезду — Солнце — и все естественные космические объекты, обращающиеся вокруг Солнца. Она сформировалась путём гравитационного сжатия газопылевого облака примерно 4,57 млрд лет назад. Обратите внимание: солнце - это не планета.

<h5>Планеты солнечной системы по порядку:</h5>
<%= image_tag("ss.jpg", alt: "Rails") %>

<p><strong><u>Солнечная система</u></strong></p>

Ученые выдвигают множество версий возникновения нашей Солнечной системы. В сороковых годах прошлого столетия Отто Шмидт выдвинут гипотезу о том, что Солнечная система возникла потому что холодные пылевые облака притянулись к Солнцу. С течением времени облака сформировали основы будущих планет. В современной науке именно теория Шмидта является основной.

Солнечная система представляет собой лишь малую часть большой галактики под названием Млечный Путь. В Млечный Путь входит более ста миллиардов различных звезд. Для осознания столь простой истины человечеству понадобились тысячелетия. Открытие солнечной системы произошло не сразу, шаг за шагом, на основании побед и ошибок, формировалась система знаний. Основной базой для изучения Солнечной системы были знания о Земле.

<p><strong><u>Основы и теории</u></strong></p>

Основными вехами в изучении Солнечной системы являются современная атомарная система, гелиоцентрическая система Коперника и Птолемея. Наиболее вероятной версией происхождения системы считают теорию Большого взрыва. В соответствии с ней, формирование галактики началось с «разбегания» элементов мегасистемы. На рубеже непроглядного хауса зародилась наша Солнечная система.

Основу всего составляет Солнце – 99,8% от всего объема, на долю планет приходится 0,13%, оставшиеся 0,0003% составляют различные тела нашей системы.

Учеными принято деление планет на две условные группы. К первой относятся планеты типа Земля: собственно сама Земля, Венера, Меркурий. Основными отличительными характеристиками планет первой группы является относительно небольшая площадь, твердость, небольшое количество спутников. Ко второй группе относятся Уран, Нептун и Сатурн – их отличают большие размеры (планеты гиганты), их формируют газы гелия и водорода.

Помимо Солнца и планет к нашей системе относятся также планетарные спутники, кометы, метеориты и астероиды.

Особое внимание следует обратить на астероидные пояса, которые находятся между Юпитером и Марсом, и между орбитами Плутона и Нептуна. На данный момент в науки нет однозначной версии возникновения таких образований.

<p><strong><u>Планетой быть не суждено</u></strong></p>

Плутон со времён своего открытия и до 2006 года считался планетой, но позже во внешней части Солнечной Системы было открыто множество небесных тел, сопоставимых по размером с Плутоном и даже превышающих его. Во избежание путаницы было дано новое определение планеты. Плутон не попал под это определение, так что ему был присвоен новый "статус" - карликовая планета. Так что, Плутон может служить ответом на вопрос: раньше он считался планетой, а теперь - нет. Однако, некоторые учёные продолжают считать, что Плутон должен быть переклассифицирован обратно в планету.

<p><strong><u>Прогнозы ученых</u></strong></p>

На основании исследований ученые говорят о том, что солнце приближается к середине своего жизненного пути. Невообразимо представить себе, что будет если Солнце погаснет. Но ученые говорят, что это не только возможно, но и неизбежно.

Возраст Солнца определили при помощи новейших компьютерных разработок и выяснили, что насчитывает он около пяти миллиардов лет. По астрономическим законом жизнь звезды, подобной Солнцу, длится около десяти миллиардов лет. Таким образом, наша солнечная система находится на середине жизненного цикла.

Что же ученые подразумевают под словом «погаснет»? Огромная солнечная энергия представляет собой энергию водорода, который в ядре становится гелием. Каждую секунду около шестисот тонн водорода в ядре Солнца перерабатывается в гелий. По подсчетам ученых, Солнце уже израсходовало большую часть своих запасов водорода.

</div>