/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*body { background-image: url("http://www.zastavki.com/pictures/originals/2015/Space_Sunset_on_Mars_096242_.jpg"); 
		no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
       }*/

.osvetlenie img {
  background-color: none;
  -webkit-filter: brightness(30%);
  height: 130px; 
  width: 130px; 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 0.3s ease;
}

.osvetlenie img:hover {
  -webkit-filter: brightness(100%);
}

body { background: url("http://www.artleo.com/pic/201201/2560x1600/artleo.com-16816.jpg") no-repeat;
       background-color: black;
       background-attachment:fixed;}

#wt {font-family: symbol, Arial;
      color: #B2DFEE;
    }

.center_main_text {
    margin-left: 300px;
    text-align: center;
    width: 50%
}

.center_main_text_for_planet_info {
    margin-left: 300px;
    line-height: 2;
    text-align: center;
    width: 50%
}